body{
    background-color: rgb(189, 189, 189);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    width: 1000px;
    height: 720px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
}

#calculator{
    width: 300px;
    height: 700px;
    margin: 0px ;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 4px 8px 6px;
}

#result{
    height: 120px;
}

#history{
    height:20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: blue;
    text-align: right;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
    
}

.op, 
.num, 
.empty{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
    border-width: 0px;
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

.num, 
.empty{
    background-color: rgb(0, 0, 0);
    color: azure;
}

.num, 
.op{
    cursor: pointer;
}

.op:active, 
.num:active{
    font-size: 13px;
}

.op:focus, 
.num:focus, 
.empty:focus{
    outline: 0px;
}

button:nth-child(4){
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

button:nth-child(8) {
    font-size: 20px;
    
}
button:nth-child(12) {
    font-size: 20px;
    background-color: #000000;
}
button:nth-child(16) {
    font-size: 20px;
    background-color: #000000;
}
button:nth-child(20) {
    font-size: 20px;
    background-color: #000000;
}

.empty{
    background-color: aliceblue;
}

.op{
    color: azure;
    background-color: cadetblue;
}

#add{
    background-color: cadetblue;
}

#decimal{
    background-color: cadetblue;
}